.husky/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
assets/**
.gitignore
.prettierignore
.prettierrc
**/.vscode-test.*
**/commitlint.config.*
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/vite.config.*
**/mise.toml
**/postcss.config.*
.venv/**